In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.impute import SimpleImputer

ModuleNotFoundError: No module named 'sklearn'

In [3]:
#Rules to be followed while dropping missing values
1.If missing value is less than 3% then use dropna
2.If missing value is 4-50% then use fillna()--(recommended)
3.If missing value is greater than 50% then drop entire column--(not recommended)

SyntaxError: invalid decimal literal (29528236.py, line 2)

In [4]:
df_csv=pd.read_csv(r"file:///C:/Users/DELL/Downloads/data1.csv")
df_csv

    Name  Python  Machine Learning
0    jay    90.0               NaN
1    raj     NaN              89.0
2  kumar    78.0              78.0
3  suraj     NaN               NaN
4  pawan     NaN              87.0
5  viraj    65.0              56.0
6  vijay    45.0              67.0
7  sumit    80.0              45.0
8  akash    70.0              67.0
9  sujit     NaN               NaN

In [13]:
#dropna--drop missing value
df_csv.dropna()
pmean=df_csv['Python'].mean()
pmean

np.float64(71.33333333333333)

In [14]:
mmean=df_csv['Machine Learning'].mean()
mmean

np.float64(69.85714285714286)

In [16]:
#df_csv['Python'].value_counts()
#df_csv['Python'].info()
#df_csv['Python'].describe()
#print(df_csv.isna().sum())
df_csv['Python']=df_csv['Python'].fillna(pmean)

df_csv['Machine Learning']=df_csv['Machine Learning'].fillna(mmean)

df_csv

    Name     Python  Machine Learning
0    jay  90.000000         69.857143
1    raj  71.333333         89.000000
2  kumar  78.000000         78.000000
3  suraj  71.333333         69.857143
4  pawan  71.333333         87.000000
5  viraj  65.000000         56.000000
6  vijay  45.000000         67.000000
7  sumit  80.000000         45.000000
8  akash  70.000000         67.000000
9  sujit  71.333333         69.857143

In [17]:
#fillna()--fills missing value with new values

#we are calculating  mean for each NAN
pymean=df_csv['Python'].mean()
pymean
mlmean=df_csv['Machine Learning'].mean()
mlmean

np.float64(69.85714285714286)

In [18]:
#we are replacing NAN by mean
df_csv['Python']=df_csv['Python'].fillna(pymean)
df_csv['Machine Learning']=df_csv['Machine Learning'].fillna(mlmean)

# check result
df_csv

    Name     Python  Machine Learning
0    jay  90.000000         69.857143
1    raj  71.333333         89.000000
2  kumar  78.000000         78.000000
3  suraj  71.333333         69.857143
4  pawan  71.333333         87.000000
5  viraj  65.000000         56.000000
6  vijay  45.000000         67.000000
7  sumit  80.000000         45.000000
8  akash  70.000000         67.000000
9  sujit  71.333333         69.857143

In [21]:
df_csv1=pd.read_csv(r"file:///C:/Users/DELL/Downloads/data2.csv")
df_csv1
df_csv1.isna().sum()
df_csv1.isna().sum()

Name                0
Python              4
Machine Learning    3
Age                 3
AI                  5
NLP                 5
CV                  6
dtype: int64

In [26]:
# changing datatype from string to float using astype function

df_csv1['AI']=df_csv1['AI'].astype('float64')
df_csv1['AI']

pymean1=df_csv1['Python'].mean()
df_csv1['Python']=df_csv1['Python'].fillna(pymean1)

mlmean1=df_csv1['Machine Learning'].mean()
df_csv1['Machine Learning']=df_csv1['Machine Learning'].fillna(mlmean1)

nlpmean1=df_csv1['NLP'].mean()
df_csv1['NLP']=df_csv1['NLP'].fillna(nlpmean1)

df_csv1

ValueError: could not convert string to float: 'missing'

In [27]:
# read data
df_carspd.read_csv(r"file:///C:/Users/DELL/Downloads/cars%20(1).csv")

NameError: name 'df_carspd' is not defined

In [ ]:
!pip install scikit-learn

In [4]:
#step1:Replacing '?' with nan value
df_car['normalized-losses'].replace('?',np.nan,inplace=True)
df_car['horsepower'].replace('?',np.nan,inplace=True)

NameError: name 'df_car' is not defined

In [5]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\dell\appdata\roaming\python\python311\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\dell\appdata\roaming\python\python311\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\dell\appdata\roaming\python\python311\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\appdata\roaming\python\python311\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\appdata\roaming\python\python311\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 23.1.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
!pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\dell\appdata\roaming\python\python311\site-packages (1.14.0)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\dell\appdata\roaming\python\python311\site-packages (from scipy) (2.0.0)

[notice] A new release of pip is available: 23.1.2 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
#step1:Replacing '?' with nan value
df_car['normalized-losses'].replace('?',np.nan,inplace=True)
df_car['horsepower'].replace('?',np.nan,inplace=True)

NameError: name 'df_car' is not defined

In [8]:
#step2:Changing the datatypes
df_car[['normalized-losses','horsepower']]=df_car[['normalized-losses','horsepower']].astype('float64')
df_car.info()

NameError: name 'df_car' is not defined

In [10]:
#Splitting input and output datasets
feature=df_car.iloc[:,-1] #x:features,all rows of all columns except last col
target=df_car.iloc[:,-1] #target:all the rows of last col

NameError: name 'df_car' is not defined

In [12]:
Removing Outliers---

The datapoints above upper limit
The datapoints below the lower limit
It is dangerous for creating model, so need to remove this

#checking outliers
sns.boxplot(data=feature,x=target) #y:price col
#data is dataframe X
#on x axis we have chosen target
plt.grid()

SyntaxError: invalid syntax (925098604.py, line 1)

In [14]:
# we are now analysing make wise outlier
sns.boxplot(data=feature,x=target,y='make',hue='make')
plt.grid()

NameError: name 'sns' is not defined

In [17]:
# removing outlier
#1 for dodge make
feature[(feature['make']=='dodge')&(target>10000)]  # checking logical condition for individuL make--29
# we have divided dataset into two parts, so need to apply seperate droping outlier for feature and target
# 29 row number, axis--only rows,inplace--permenant chnages
feature.drop(29,axis=0,inplace=True)
target.drop(29,axis=0,inplace=True)

#3 for Isuzu make
feature[(feature['make']=='isuzu')&(target>20000)]
feature.drop(45,axis=0,inplace=True)
target.drop(45,axis=0,inplace=True)
------
#4.for mitsubishi make
feature[(feature['make']=='mitsubishi')&(target>14000)]
-----
feature.drop([83,84],axis=0,inplace=True)
target.drop([83,84],axis=0,inplace=True)

SyntaxError: invalid syntax (3814743877.py, line 13)

In [18]:
#3 for Isuzu make
feature[(feature['make']=='isuzu')&(target>20000)]
feature.drop(45,axis=0,inplace=True)
target.drop(45,axis=0,inplace=True)

NameError: name 'feature' is not defined

In [19]:
#4.for mitsubishi make
feature[(feature['make']=='mitsubishi')&(target>14000)]

NameError: name 'feature' is not defined

In [20]:
feature.drop([83,84],axis=0,inplace=True)
target.drop([83,84],axis=0,inplace=True)

NameError: name 'feature' is not defined

In [3]:
Handling categorical data
The process of converting categorical data into numbers are called encoding
types of encoding
1.One-hot/dummy encoding
2.Label/ordinal encoding
3.Target encoding
4.Frequency/count encoding
5.Binary encoding
6.Feature encoding

SyntaxError: invalid decimal literal (1165343455.py, line 4)

In [4]:
.One hot encoding
In this type each value will be converted to either 0 or 1
where one represents inclusion and 0 reprsents exclusion
This transformation is called one hot encoding
----------
feature[['fuel-type']]

SyntaxError: invalid syntax (1828119055.py, line 1)

In [6]:
Data scaling/Feature scaling
It is a process of bringging all the numeric quantity under one standard scale
It can be performed during pre processing to handle highly varying units
If data scaling is not done then ML model assumes greater number as large and smaller number as small irrespective of the units.
Data scaling is not required in non-linear model.It is required in linear model(linear regression).
There are 2 types of data scaling
Min-max scaler
standard scaler
---------
Min-max scaler

a=np.array([1,2,3,4,5])
b=np.array([10,20,30,40,50])
c=np.array([100,200,300,400,500])

def minmax(arr):
    xnew=(arr-arr.min())/(arr.max()-arr.min())
    print(xnew)

SyntaxError: invalid syntax (819455090.py, line 1)